<form data-validate="true" role="form" novalidate="novalidate" class="new_remainder" id="new_remainder" action="/remainders" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="LzDmms/AUPKSXIPqgDrrvijFiIRWKof+T5So96JFWXNlIgF+hHjSEzuLwq3RdMkT+i6v0E4s2mRNx6tVeU4ZSA==">

        <div class="form-group"><label class="control-label required" for="remainder_name">Name</label><input class="form-control" type="text" name="remainder[name]" id="remainder_name" data-validate="true"></div>
        <div class="form-group"><label class="control-label" for="remainder_start_date">Start date</label><input class="form-control datepicker" type="text" name="remainder[start_date]" id="remainder_start_date" data-validate="true"></div>
        <div class="form-group"><label class="control-label" for="remainder_end_date">End date</label><input class="form-control datepicker" type="text" name="remainder[end_date]" id="remainder_end_date" data-validate="true"></div>
        <div class="form-group"><label class="control-label" for="remainder_remainder_time">Remainder time</label><input class="form-control datetimepicker" type="text" name="remainder[remainder_time]" id="remainder_remainder_time" data-validate="true"></div>
        <div class="form-group"><label class="control-label" for="remainder_schedule_interval">Schedule interval</label><input class="form-control" type="text" name="remainder[schedule_interval]" id="remainder_schedule_interval" data-validate="true"></div>
        <div class="form-group"><label class="control-label" for="remainder_message">Message</label><textarea class="form-control" name="remainder[message]" id="remainder_message" data-validate="true"></textarea></div>
        <div class="form-group"><label class="control-label" for="remainder_group_id">Group</label><input class="form-control" type="text" name="remainder[group_id]" id="remainder_group_id" data-validate="true"></div>
        <input type="submit" name="commit" value="Create Remainder" class="btn btn-success">
</form>